<p id="notice"><%= notice %></p>

<% @items.each do |item| %>
  <%= item.title%><br>
  <%= item.description%><br>
  <%= item.price%> €<br>
  <% @itemcarts = Itemcart.where(cart: current_user.cart) %>
  <% @itemcart = @itemcarts.where(item: Item.find(item.id)) %>
  <a href="<%= item_itemcart_path(item.id, @itemcart.first.id) %>" class="btn btn-danger" data-method='delete'>Supprimer</a>
  <br>
  <br>
<% end %>
<%= @globalprice %> €<br><br>
<%= link_to 'Edit', edit_cart_path(@cart) %>
<%= link_to 'Back', carts_path %>
<a href="<%= cart_orderitem_index_path(current_user.cart.id) %>" data-method="post" class="btn btn-success">Commander</a>



<%= form_tag cart_orderitem_index_path(current_user.cart.id) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @globalprice %> €</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @globalprice %>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>
